
@{
    ViewBag.Title = "Character Development Page";
}

<h2>Character</h2>

<html>
<body>

	<form action="/action_page.php">
		<fieldset>
			<legend>Character Profile:</legend>
			Character Name:<br>
			<input type="text" name="firstname">
			<br>
			Player:<br>
			<input type="text" name="lastname" value="Mouse">
			<br>
			Class & Level:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Race:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Alignment:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Deity:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Size:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Age:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Gender:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Height:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Weight:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Eyes:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Hair:<br>
			<input type="text" name="firstname" value="Mickey">
			<br>
			Skin:<br>
			<input type="text" name="firstname" value="Mickey">
			<br><br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>

</body>
</html>

