@{
    ViewBag.Title = "MOC";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Darth Cheech the Wise</p>

<img src="https://i.pinimg.com/originals/a4/6f/17/a46f17bab42e1b3050e5042f7c13bbf3.png" style="width:450px;height:280px;" />
