@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<html>
<img src="http://geekandsundry.com/wp-content/uploads/2016/02/Banner_NewsFINAL.jpg" style="width:850px;height:380px;" />
<body>

	<form action="/action_page.php">
		<fieldset>
			<legend>Character Profile:</legend>
			Character Name:<br>
			<input type="text" name="firstname">
			<br>
			Player:<br>
			<input type="text" name="lastname" >
			<br>
			Class & Level:<br>
			<input type="text" name="firstname" >
			<br>
			Race:<br>
			<input type="text" name="firstname" >
			<br>
			Alignment:<br>
			<input type="text" name="firstname" >
			<br>
			Deity:<br>
			<input type="text" name="firstname">
			<br>
			Size:<br>
			<input type="text" name="firstname" >
			<br>
			Age:<br>
			<input type="text" name="firstname" >
			<br>
			Gender:<br>
			<input type="text" name="firstname" >
			<br>
			Height:<br>
			<input type="text" name="firstname" >
			<br>
			Weight:<br>
			<input type="text" name="firstname" >
			<br>
			Eyes:<br>
			<input type="text" name="firstname" >
			<br>
			Hair:<br>
			<input type="text" name="firstname">
			<br>
			Skin:<br>
			<input type="text" name="firstname" >
			<br><br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>

</body>
</html>
@*<div class="row">
    <div class="col-md-4">
        <h2>Further Develop</h2>
        <p>
            Option to go to another page
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Further Develop</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
   
@*</div>*@