@*@{
    Layout = null;
}*@

@{
	ViewBag.Title = "MOC";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<body>
	<img src="https://az616578.vo.msecnd.net/files/2016/06/04/636006026018545472-414828499_Dungeons-and-Dragons-characters.jpg" style="width:450px;height:280px;" />
	@*<form>*@
	<form action="/action_page.php">
		<fieldset>
			<legend>Skills:</legend>
			Appraise (INT):<br>
			<input type="text" name="lastname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Balance (DEX*):<br>
			<input type="text" name="lastname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Bluff (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Climb (STR*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Concentration (CON):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Craft(INT):<br>
			@*<input type="text" name="firstname">will need to add a spot to write in the craft*@
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Decipher Script (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Diplomacy (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Disable Device (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Disguise (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Escape Artist (DEX):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Forgery (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Gather Information (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Handle Animal (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Heal (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Hide (DEX*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Intimidate (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Jump (STR*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Knowledge (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Knowledge (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Knowledge (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Knowledge (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Knowledge (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Listen (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Move Silently (DEX*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Open Lock (DEX):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Perform (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Perform (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Perform (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Profession (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Profession (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Ride (DEX):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Search (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Sense Motive (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Slight of Hand (DEX*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Spellcraft (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Spot (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Survival (WIS):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Swim (STR*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Tumble (DEX*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Use Magic Device (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Use Rope (DEX):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Other:<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Other:<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Other:<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>

			<input type="submit" value="Submit">
		</fieldset>
	</form>;
	
</body>

