@*@{
    Layout = null;
}*@

@{
	ViewBag.Title = "MOC";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<body>
	@*I need to add names for each colomn and row. need to format the boxes*@ 
	@*Does cheech want number input or a up/down*@
	<form action="/action_page.php">
		<fieldset>
			<legend>Skills:</legend>
			Appraise (INT):<br>
			<input type="text" name="lastname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Balance (DEX*):<br>
			<input type="text" name="lastname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Bluff (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Climb (STR*):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Concentration (CON):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Craft(INT):<br>
			@*<input type="text" name="firstname">will need to add a spot to write in the craft*@
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Decipher Script (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Diplomacy (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Disable Device (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Disguise (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Escape Artist (DEX):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Forgery (INT):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Gather Information (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br>
			Handle Animal (CHA):<br>
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<input type="text" name="firstname">
			<br><br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>

</body>
</html>
